@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
body {
  background-color: rgb(225, 241, 255);
  height: 6000px;
  width: 990px;
}
.inner-container {
  height: 6000px;
  width: 990px;
}
header {
  position: fixed;
  z-index: 9999;
  height: 60px;
}
.logo {
  margin-left: 20px;
  font-family: "Asap", sans-serif;
  font-size: 35px;
}

.logo a {
  text-decoration: none;
}
.airplane {
  position: relative;
  top: 150px;
  left: 250px;
}
.intro2 {
  position: relative;
  top: 20px;
  left: 550px;
  font-family: "Sunflower", sans-serif;
  font-size: 35px;
}

.pink {
  display: inline-block;
  position: absolute;

  width: 1600px;
  height: 650px;
  left: 0px;
  top: 500px;
  background: #f7c1c1;
}
.gaein {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 10px;
  border: 3px solid #ca7a7a;
  border-radius: 10%;
}
.question {
  position: relative;
  font-family: "Sunflower", sans-serif;
  font-size: 30px;
  /* text-align: center; */
  top: 10%;
  left: 37%;
}
.gbox1 {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 167px;
  top: 150px;
  background: white;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-right: 1px solid black;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.vitamin {
  margin-top: 70px;
  width: 150px;
  height: 150px;
}
.btext1 {
  position: relative;
  top: 20%;
  z-index: 999999;
}
.gbox2 {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 468px;
  top: 150px;
  background: white;
  border-right: 1px solid black;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.lip {
  margin-top: 50px;
  width: 200px;
  height: 200px;
}
.btext2 {
  position: relative;
  top: 12%;
  z-index: 999999;
}
.gbox3 {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 769px;
  top: 150px;
  background: white;
  border-right: 1px solid black;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.news {
  margin-top: 70px;
  width: 150px;
  height: 150px;
}
.btext3 {
  position: relative;
  top: 20%;
  z-index: 999999;
}
.gbox4 {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 1070px;
  top: 150px;
  background: white;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.clab {
  margin-top: 70px;
  width: 150px;
  height: 150px;
}

.btext4 {
  position: relative;
  top: 20%;
  z-index: 999999;
}
a {
  text-decoration: none;
}
.btext1 a:link {
  color: black;
}
.btext1 a:visited {
  color: black;
}
.btext1 a:hover {
  color: rgb(212, 107, 107);
}
.btext2 a:link {
  color: black;
}
.btext2 a:visited {
  color: black;
}
.btext2 a:hover {
  color: rgb(212, 107, 107);
}
.btext3 a:link {
  color: black;
}
.btext3 a:visited {
  color: black;
}
.btext3 a:hover {
  color: rgb(212, 107, 107);
}
.btext4 a:link {
  color: black;
}
.btext4 a:visited {
  color: black;
}
.btext4 a:hover {
  color: rgb(212, 107, 107);
}
