@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
body {
  background-color: rgb(225, 241, 255);
  height: 6000px;
  width: 990px;
}
.inner-container {
  height: 6000px;
  width: 990px;
}
header {
  position: fixed;

  height: 60px;
}
.logo {
  margin-left: 20px;
  font-family: "Asap", sans-serif;
  font-size: 35px;
}

.logo a {
  text-decoration: none;
}
.airplane {
  position: relative;
  top: 150px;
  left: 250px;
}
.intro2 {
  position: relative;
  top: 20px;
  left: 550px;
  font-family: "Sunflower", sans-serif;
  font-size: 35px;
}

.pink {
  display: inline-block;
  position: absolute;

  width: 1600px;
  height: 571px;
  left: 0px;
  top: 500px;
  background: #f7c1c1;
}
.gaein {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 10px;
  border: 3px solid #ca7a7a;
  border-radius: 10%;
}
